* {
    box-sizing: border-box;
}

body {
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 4fr;
}

nav {
    grid-row: 1 / 3;
    background-color: blue;
}

header {
    background-color: red;
}

main {
    background-color: bisque;
}